<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.simorgh.twitter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="714a6786432e2b7ff6fec430f06a9b8a0cecc36c" />

        <activity android:name=".Activity.TimelineActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Activity.ComposeActivity"></activity>
    </application>

</manifest>
